/*
table {
  width: 50%;
  border: 1px solid #444444;
  float: left;
}*/
body {
	margin: 0 auto;
	background-color: #FFFFFF;
}
.timetable-main {
	margin: 30px 140px;
}
#courseDBtable {
  width: 100%;/* div 내 100% */
  float: left;
  overflow: auto;
  height: 10px;
}
#courseDBtable th {
	border: none;
	border-bottom: 1px solid #d3d3d3;
	text-align: center;
	padding: 5px;
}
#courseDBtable td {
	border: none;
	border-bottom: 1px solid #d3d3d3;
	text-align: center;
	padding: 10px;
}
#timetable{
	width: 45%;
	border: none;
    /*border-bottom: 1px solid #444444;*/
	float: right;
}
#timetable th {
	width: 16.6%;
	height: 60px;
	text-align:center;
}
#timetable td {
	text-align:center;
	height: 33px;
	/*border:none;*/
}
th, td {
  border: 1px solid #444444;
}




/*friend jsp
-----------------------------------*/
/*--검색창--*/
.search-container {
    display: flex;
}

.search-box {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    outline: none;
    padding: 10px;
    /* Add the icon as a background image */
    background-image: url('search-icon.png');
    background-size: 20px 20px; /* Set the size of the icon */
    background-repeat: no-repeat;
    background-position: center; /* Center the icon */
}

/*--친구목록--*/
.friend-val-scroll {
	height: 300px;
	overflow: auto;
	width:30%;
}
.friend_val {
	width: 350px;
	height: 50px;
}

