@charset "UTF-8"; 
/* 
자유게시판 list.jsp 부분
------------------------------*/
table{
	width:100%;
	border:1px solid #000;
	border-collapse:collapse;
	margin-top:5px;
}
table td, table th{
	border:1px solid #000;
	padding:5px;
}

.board_listform{
	background-color:pink;
	width:1000px;
	margin: 0 auto;
	
}
form{
	background-color:yellow;
	width:1000px;
	margin:0;
	padding:10px;
}
.content-main{
	width:34%;
	float:left;
	padding:5px;
	margin:70px -390px 0 400px;
}
/*검색 폼*/
#search_Form{
	display: flex;
  	align-items: center;
  	margin-left: 0px;
 	 border:none;
}
ul.board_search li{
	margin:0 0 0 0;
	padding:0;
	/* display:inline; */
	display: inline-block;
}
/*글쓰기 버튼*/
.list-space input[type="button"]{
	float:right;
  align-items: center;
}


.board_detail_form{
	margin-left:400px;
}

.board-detail{
	border: 1px solid #808080;
    
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    position: relative;
}
ul.detail-info{
	margin-bottom:3px;
	
}
.board-detail h2{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
}
.board-detail p{
	margin-top:2px;
	margin-left:2px;
}
.detail-info {
	list-style: none;
    padding: 0;
    margin: 0;
}
수정,삭제 위치 부분
.detail-actions {
	list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.detail-info li {
  
	list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-info li a {
	float: right;
}

.detail-actions li {
    float: right;
}

/* 학점계산기
------------------------*/
#container{
	background-color:pink;
	width:1000px;
	margin:0 auto;
	padding:0;
	border:none;
}

#container.calculator div.section {
    padding: 0 8px;
}

#container.calculator div.section div.chart,#container.calculator div.section div.menu {
    border: 1px solid #ededed;
    border-radius: 12px;
}

#container.calculator div.section div.chart article.overview {
    display: flex;
    justify-content: space-between;
    min-height: 52px;
    margin-bottom: 32px;
}

#container.calculator div.section div.chart article.overview div.column h4 {
    margin-bottom: 2px;
    color: #444;
    font-size: 12px;
    font-weight: normal;
    line-height: 18px;
}

#container.calculator div.section div.chart article.overview div.column p {
    display: inline-block;
}

#container.calculator div.section div.chart article.overview div.column p.value {
    color: #f91f15;
    font-size: 26px;
    font-weight: bold;
    line-height: 32px;
}

#container.calculator div.section div.chart article.overview div.column p.total {
    margin-left: 4px;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 18px;
}

#container.calculator div.section div.chart article.overview div.column p.total span.button {
    cursor: pointer;
    display: inline-block;
    margin-left: 2px;
    padding: 0 6px;
    color: #a6a6a6;
    font-size: 12px;
    line-height: 18px;
    background-color: #f2f2f2;
    border-radius: 9px;
}

#container.calculator div.section div.chart article.overview div.column.acquisition p.total {
    cursor: pointer;
    padding-right: 15px;
    background: rgba(0, 0, 0, 0) url("/images/container.calculator.setting.png") no-repeat right center;
}



/*
.free_title {
	margin-top:100px;
	display: flex;
  	justify-content: space-between;
  	align-items: center;
}

서치 폼 스타일
.free_title form {
  display: flex;
  align-items: center;
  margin-left: 0px;
  border:none;
  
}

.free_title .search {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.free_title .search li {
  margin-right: 5px;
}

글쓰기 버튼 스타일
.free_title .list-space {
  display: flex;
  align-items: center;
}


자유게시판 writeForm.jsp 부분
------------------------------------------

#write_Form #board_title {
	padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 10px;
}

#write_Form #board_content{
	padding-top: 10px; 
    padding-bottom: 80px;
    border-radius: 10px;
}


공통목록 table  , table td th 꼭 필요

게시판 detail.jsp 상세페이지 부분 
.board-detail{
	border: 1px solid #808080;
    
    margin-left: 150px;
    margin-right: 150px;
    border-radius: 10px;
    position: relative;
}
ul.detail-info{
	margin-bottom:3px;
	
}
.board-detail h2{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:2px;
}
.board-detail p{
	margin-top:2px;
	margin-left:2px;
}
.detail-info {
	list-style: none;
    padding: 0;
    margin: 0;
}
수정,삭제 위치 부분
.detail-actions {
	list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
}
.detail-info li {
  
	list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-info li a {
	float: right;
}

.detail-actions li {
    float: right;
}
자유게시판 updateForm.jsp 부분
------------------------------------------
#update_Form #board_title {
	padding-top: 10px; 
    padding-bottom: 10px;
    border-radius: 10px;
}

#update_Form #board_content{
	padding-top: 10px; 
    padding-bottom: 80px;
    border-radius: 10px;
}
 */