/* 공통
------------------------------*/
.copyright{
	font-size:10px;
	color:light gray;
}
.result-display{
	width:600px;
	height:400px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;
}
.page-sub{
	text-align:center;
	font-size:12px;
}
.member-style{
	margin-left:400px;
	margin-top:200px;
}
/* 메인 : main.jsp
------------------------------*/
.carousel{
	float:left;
	margin:30px 0 0 50px;
}
/* 홈 : home.jsp
------------------------------*/
.home-div{
	width:36%;
	float:left;
	padding:5px;
	margin:70px -390px 0 400px;
}
.home-end{
	clear:both;
}
.myInfo-div{
	width:13%;
	height:200px;
	float:left;
	margin:70px -300px 0 230px;
	border-radius:10px;
	background:#f5f7f7;
}
.myInfo-div img{
	width:70px;
	border-radius:50%;
	object-fit:cover;
	object-position:top;
	margin:25px 42px 10px 42px;
}
.univName-style{
	margin:0 0 -50px 230px;
}
.list-div{
	height:200px;
	background:#f5f7f7;
	border-radius:15px;
}
.list-div table{
	padding:35px 0 0 80px;
}
.list-margin{
	padding-left:30px;
	font-size:12px;
}
/* 로그인 : loginForm.jsp
------------------------------*/
#login_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#login_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}

/* 아이디 찾기 : checkIdForm.jsp
------------------------------*/
#checkId_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#checkId_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}
/* 비밀번호 찾기 : checkPwForm.jsp
------------------------------*/
#checkPw_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#checkPw_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}