/* 공통
------------------------------*/
a{
	cursor:pointer;	
}
input[type="button"]{
	cursor:pointer;
}
.copyright{
	font-size:10px;
	color:gray;
}
.result-display{
	width:600px;
	height:400px;
	margin:50px auto;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;
}
.result-display2{
	width:600px;
	height:400px;
	margin:50px 560px;
	border:1px solid #000;
	display:flex;
	align-items:center;
	justify-content:center;
}
.page-sub{
	text-align:center;
	font-size:12px;
}
.member-style{
	margin-left:400px;
	margin-top:200px;
}
.input-button1{
	border:1px solid #e1e6ed;
	width:200px;
	height:45px;
	border-radius:10px;
	font-weight:bold;
	color:gray;
}
.input-button2{
	border:none;
	width:200px;
	height:45px;
	border-radius:10px;
	background-color:#6699cc;
	font-weight:bold;
	color:white;
}
.sc-btn{
	border:1px solid #e1e6ed;
	width:80px;
	height:25px;
	border-radius:5px;
	color:black;
	font-weight:bold;
}
.sc-btn2{
	border:none;
	width:90px;
	height:25px;
	border-radius:10px;
	background-color:#6699cc;
	font-weight:bold;
	color:white;
}
.home-btn{
	border:none;
	width:80px;
	height:25px;
	border-radius:6px;
	background-color:#6699cc;
	font-weight:bold;
	color:white;
}
.a-style{
	text-decoration:none;
	color:#575959;
	font-size:11px;
}
.bottom-style{
	text-decoration:none;
	color:gray;
	font-size:10px;
	margin-bottom:5px;
}
.find-link{
	font-size:12px;
}
textarea{
	resize:none;
}
/* 메인 : main.jsp
------------------------------*/
.main-style{
	padding-top:300px;
}
/* 홈 : home.jsp
------------------------------ */
.home-div{
	width:30%;
	float:left;
	padding:5px;
	margin:70px -390px 0 400px;
}
.home-div2{
	width:975px;
	padding:5px;
	float:left;
	border-radius:10px;
	border:1px solid #edeff0;
	padding-left:33px;
	padding-right:25px;
	margin-left:477px;
	margin-top:15px;
}
.home-end{
	clear:both;
}
.myInfo-div{
	width:9%;
	height:200px;
	float:left;
	margin:70px -300px 0 220px;
	border-radius:10px;
	background:#f5f7f7;
}
.myInfo-div img{
	width:70px;
	border-radius:50%;
	object-fit:cover;
	object-position:top;
	margin:25px 35px 10px 35px;
}
.univName-style{
	margin:0 0 -50px 230px;
}
.list-div{
	height:200px;
	border:1px solid #edeff0;
	border-radius:15px;
}
.list-div table{
	padding:35px 0 0 80px;
}
.list-margin{
	padding-left:30px;
	font-size:12px;
}
.info-div{
	float:left;
	padding:5px;
	margin:285px -350px 0 117px;
}
.info-div2{
	float:left;
	padding:5px;
	margin:420px -350px 0 117px;
}
.info-div3{
	float:left;
	padding:5px;
	margin:556px -350px 0 117px;
}
/* 로그인 : loginForm.jsp
------------------------------*/
#login_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#login_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}

/* 아이디 찾기 : checkIdForm.jsp
------------------------------*/
#checkId_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#checkId_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}
/* 비밀번호 찾기 : checkPwForm.jsp
------------------------------*/
#checkPw_form{
	width:300px;
	margin:0 auto;
	padding:0;
	border:none;
}
#checkPw_form ul{
	padding:0;
}
.floating-label{
	position:relative;
}
.floating-label > .form-input{
	width:300px;
	height:32px;
	padding:0.55rem 0.55rem;
}
.floating-label > label{
	position:absolute;
	top:0;
	left:0;
	padding:1.05rem 0.75rem;
	transition:all 0.25s;
}
.floating-label > .form-input::placeholder{
	color:transparent;
}
.floating-label > .form-input:focus, 
.floating-label > .form-input:not(:placeholder-shown){
	padding-top:1.125rem;
	padding-bottom:0.125rem;
}
.floating-label > .form-input:focus + label,
.floating-label > .form-input:not(:placeholder-shown) + label{
	opacity:0.65;
	transform:scale(0.85) translateY(-0.5rem) translateX(-0.5rem);
}
/* 회원가입 폼 : registerUserForm.jsp
------------------------------*/
.agree-div{
	overflow:auto;
	width:400px;
	height:150px;
	border:1px solid black;
	margin-left:3px;
}
.check-btn{
	border:1px solid #e1e6ed;
	width:130px;
	height:23px;
	border-radius:5px;
	color:gray;
}
form[id="register_form"] ul li{
	margin-bottom:7px;
}
/* 책방 목록 : sc_list.jsp
------------------------------*/
form#search_form{
	border:none;
}
ul.search{
	width:340px;
	list-style:none;
	padding:0;
	margin:0 auto;
}
ul.search li{
	margin:0 0 9px 0;
	padding:0;
	display:inline;
}
.sc-table{
	width:800px;
	border:1px solid gray;
	border-collapse:collapse;
	margin-top:5px;
	margin-left:450px;
}
.sc-table td{
	padding:5px;
	padding-bottom:5px;
}
.sc-table img{
	margin-right:-30px;
	margin-left:17px;
}
/* 책방 상세 : sc_detail.jsp
------------------------------*/
.toggle-style{
	float:left;
	margin-left:-45px;
}
#sell_text{
	float:left;
	margin-left:-40px;
	margin-top:5px;
	font-weight:bold;
	color:#6699cc;
}
/* 책방 수정 : sc_updateForm.jsp
------------------------------*/
#file_detail{
	font-size:10pt;
	color:gray;
}